{% extends 'base.html' %}

{% block content %}
	<form method='POST'>
		{% csrf_token %}
		
		<table class="table table-light table-bordered table-striped">
			<tbody>
				<tr>
					<th>First Name</th>
					<td>{{user_form.first_name}}</td>
				</tr>
				<tr>
					<th>Last Name</th>
					<td>{{user_form.last_name}}</td>
				</tr>
				<tr>
					<th>Email ID</th>
					<td>{{user_form.email}}</td>
				</tr>
				<!-- <tr>
					<th>Qualification</th>
					<td>{{user_form.qualification}}</td>
				</tr>	  -->
			</tbody>
		</table>
		<button class="btn btn-success" type='submit'>Edit Student</button>
	</form>
{% endblock content %}